doctype html
html
	head
		meta(charset="UTF-8")/
		meta(name="description" content="")/
		meta(name="keywords" content="")/
		meta(name="author" content="")/
		meta(name="viewport" content="width=device-width, initial-scale=1.0")/
		title #{title}
		block scripts
			//script(src='');
	body
		block content
		block foot
			#footer
				p some footer content
		